:root {
    --negro: #121113;
    --negro2: #222325;
    --verde: #899878;
    --verde2: #e4e985;
    --verde3: #222725;
    --blanco: #e5e5e5;
    --fuenteTexto: "Outfit", sans-serif;
    --fuenteTitulos: "Radley", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
  font-size: 62.5%;
}

body {
  background-color: var(--negro);
}

