:root {
    --stone900: #1c1917;
    --stone800: #292524;
    --stone200: #e7e5e4;
    --stone300: #d6d3d1;
    --rose600: #2dd4bf;
    --fuenteTexto: "Outfit", sans-serif;
    --fuenteTitulos: "Radley", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
  font-size: 62.5%;
}

body {
  background-color: var(--stone900);
}

