header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--negro);
}

.contenedor {
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

a {
  text-decoration: none;
}

.contenedor h1 {
  font-family: var(--fuenteTitulos);
  font-size: 3.25rem;
  color: var(--verde2);
  margin: 0 auto;
}

.active {
  animation: flicker2 2.15s ease-out infinite;
}

.contenedor > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.contenedor > nav > a {
  font-family: var(--fuenteTexto);
  font-size: 2rem;
  color: var(--verde);
}

.contenedor > nav > a:hover {
  color: var(--verde2);
  animation: flicker 0.15s ease-out forwards;
  filter: drop-shadow(0 0 10px var(--verde2));
}

/* animación de flicker */
@keyframes flicker {
  0% {
    color: var(--verde2);
  }
  25% {
    color: transparent;
  }
  50% {
    color: var(--verde2);
  }
  75% {
    color: transparent;
  }
  100% {
    color: var(--verde2);
  }
}

/* animación de flicker2 con pausa de 2 segundos */
@keyframes flicker2 {
  /* Primer 0.15s: animación de parpadeo */
  0%,
  3%,
  6%,
  9%,
  12% {
    color: var(--verde2);
  }
  1.5%,
  4.5%,
  7.5%,
  10.5%,
  13.5% {
    color: transparent;
  }

  /* Pausa de 2 segundos */
  15%,
  93% {
    color: var(--verde2);
  }

  /* El ciclo termina en 100% */
  100% {
    color: var(--verde2);
  }
}
