.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 90rem;
  height: calc(100vh - 20rem);
  margin: 0 auto;
}

.contenedor > h2 {
  font-family: var(--fuenteTitulos);
  font-size: 3rem;
  color: var(--stone200);
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.contenedor > p {
  width: 60rem;  
  font-family: var(--fuenteTexto);
  color: var(--stone300);
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

h3 {
  font-family: var(--fuenteTexto);
  font-size: 2rem;
  font-weight: 800;
  color: var(--stone200);
  margin-bottom: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 12rem;
    border-radius: 0.5rem;
    background-color: var(--rose600);
    cursor: pointer;
    margin-top: 2rem;
    font-family: var(--fuenteTexto);
    color: var(--stone900);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    text-align: center; /* Asegura que el texto esté centrado */
}

.button:hover {
    color: var(--stone200);
    background-color: var(--stone900);
    border: 0.1rem solid var(--rose600);
    transition: all 0.5s ease-in-out;
}

.espacio{
    height: 10rem;
}


/*! media queries */

@media screen and (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    height: calc(100dvh - 15rem);
    padding: 2rem;
  }

  .contenedor > h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .contenedor > p {
    width: 100%;
    max-width: 55rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .button{
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 420px) {
  .contenedor {
    flex-direction: column;
    height: calc(100dvh - 15rem);
    padding: 2rem;
  }

  .contenedor > h2 {
    font-size: 2rem;
    margin-top: 30rem;
  }

  .contenedor > p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .button{
    margin-top: 2rem;
    margin-bottom: 30rem;
  }
}
