.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    height: 100 dvh;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.titulo h1 {
    font-family: var(--fuenteTitulos);
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--verde2);
}

.titulo p {
    font-size: 2rem;
    color: var(--verde2);
    text-align: center;
}

article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.contenedores {
    display: invisible;
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--verde2);
    margin-bottom: 2rem;

}

.contenedores h2 {
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--blanco);
}

.contenedores h3 {
    font-family: var(--fuenteTexto);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--blanco);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contenedores p {
    width: 100%;
    font-family: var(--fuenteTexto);
    font-size: 2rem;
    color: var(--verde);
    margin-bottom: 2rem;
    border: 0.1rem solid var(--verde2);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--verde3);
}

.contenedores p:last-of-type{
    margin-bottom: 3rem;
}

.contenedores p:hover {
    background-color: var(--verde2);
    color: var(--negro);
    transform: scale(1.1);
    /* transform: skew(-5deg); */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a {
    text-decoration: none;
}