---
import Layout from "../layouts/Layout.astro"
import enfoque from "../components/css/enfoque.module.css";
---

<Layout title="enfoques">
    <section>
        <h1>enfoques</h1>
    </section>
</Layout>