---
import CardReg from "../components/CardReg.astro";
import Layout from "../layouts/Layout.astro";
import enfoques from "../components/css/enfoques.module.css";
---

<Layout title="Enfoques">
  <section class={enfoques.section}>
    <div class={enfoques.contTitulo}>
        <h1 class={enfoques.titulo}>Regiones</h1>
    </div>
    <div class={enfoques.contenedorCartas}>
      <CardReg 
      titulo="Craneo"
      descripcion= "Enfoques radiologicos de craneo"
      enlace="/craneo"
      />
      <CardReg 
      titulo="Tronco"
      descripcion= "Enfoques radiologicos del tronco"
      enlace="/tronco"
      />
      <CardReg 
      titulo="Miembro Superior"
      descripcion= "Enfoques radiologicos de miembro superior"
      enlace="/miembro_superior"
      />
      <CardReg 
      titulo="Miembro Inferior"
      descripcion= "Enfoques radiologicos de miembro inferior"
      enlace="/miembro_inferior"
      />

    </div>
  </section>
</Layout>
