---
import Layout from "../layouts/Layout.astro";
import enfoque from "../components/css/enfoques.module.css";
---

<Layout title="Enfoques">
  <main class={enfoque.contenedor}>
    <section class={enfoque.titulo}>
      <h1>Enfoques Radiológicos</h1>
      <input type="text" name="" id="" placeholder="enfoque?" />
      <button>buscar</button>
    </section>

   <section class={enfoque.clasificacion}>
  <a href="/craneo" tabindex="0">
    <div>
      <h2>Craneo</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
  <a href="/torax" tabindex="0">
    <div>
      <h2>Torax</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
  <a href="/abdomen" tabindex="0">
    <div>
      <h2>Abdomen</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
  <a href="/pelvis" tabindex="0">
    <div>
      <h2>Pelvis</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
  <a href="/miembro-superior" tabindex="0">
    <div>
      <h2>Miembro Superior</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
  <a href="/miembro-inferior" tabindex="0">
    <div>
      <h2>Miembro Inferior</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(214, 211, 209, 1);"
      >
        <path
          d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
        ></path>
      </svg>
    </div>
  </a>
</section>

  </main>
</Layout>
