---
import Layout from '../layouts/Layout.astro';
import index from "../components/css/index.module.css";
---

<Layout title="Inicio">
    <section class={index.contenedor}>
        <h2>Futuro Profesional</h2>
        <p>Este es un recurso creado por estudiantes, para estudiantes. Un proyecto que nace del deseo de simplificar el conocimiento radiológico, ofreciendo una plataforma ágil para acceder rápidamente a información clave desde cualquier dispositivo.
            <br><br>
            Nuestra misión es simple: hacer que los conceptos radiológicos sean claros, concisos y fácilmente comprensibles. Conscientes de que en la práctica clínica cada segundo cuenta, hemos diseñado esta herramienta pensando en la inmediatez y la practicidad.
            <br><br>
            Este recurso está en constante evolución. Reconocemos que puede contener imprecisiones y estamos abiertos a correcciones. Tu experiencia y conocimiento son fundamentales: si encuentras algún error o tienes sugerencias para mejorar, compártelas sin dudarlo. 
            <br><br>
        </p>
        <h3>Juntos construimos conocimiento.</h3>
        <a class={index.button} href="/enfoques">comenzar</a>
    </section>
</Layout>