---
import header from "../components/css/header.module.css";
---

<header>
  <section class={header.contenedor}>
    <a href="/">
      <h1 class={header.active}>Roentgenium</h1>
    </a>
    <nav class={header.navegacion}>
      <a href="/enfoques">Enfoques</a>
      <a href="#">Quiz</a>
      <a href="/contacto">Contacto</a>
    </nav>
  </section>
</header>
