---
import header from "../components/css/header.module.css";
---

<header>
    <section class={header.contenedor}>
        <a href="/">
            <h1>Roentgenium</h1>
        </a>
        <nav class={header.navegacion}>
            <!-- <a href="/">inicio</a> -->
            <a href="/enfoques">enfoques</a>
            <a href="/contacto">contacto</a>
        </nav>
    </section>
</header>